[tooltip-position="top"],[tooltip-position="right"],[tooltip-position="left"],[tooltip-position="bottom"]{
    position: relative;
}
[tooltip-position]::before{
    content:attr(tooltip);
    width: max-content;
    max-width: 600px;
    padding: 5px;
    border-radius: 3px;
    background-color: cadetblue;
    position: absolute;
    word-wrap: break-word;
    visibility: hidden;
}
[tooltip-position]::after{
    content: "";
    border: 10px solid transparent;
    position: absolute;
    word-wrap: break-word;
    visibility: hidden;
}
:not([tooltip=""])[tooltip]:hover::before{
    visibility: visible;
}
:not([tooltip=""])[tooltip]:hover::after{
visibility: visible;    
}
[tooltip-position="top"]::before{
    left:50%;
    transform: translateY(calc(-100% - 10px)) translateX(-50%);
}
[tooltip-position="top"]::after{
    border-top-color: cadetblue;
    top:-10px;
    left:50%;
    transform: translateX(-50%);
}
[tooltip-position="right"]::before{
    left: calc(100% + 10px);
    top:50%;
    transform:translateY(-50%);
}
[tooltip-position="right"]::after{
    border-right-color: cadetblue;
    top:50%;
    right: -10px;
    transform: translateY(-50%);
}
[tooltip-position="bottom"]::before{
    top: calc(100% + 10px);
    left:50%;
    transform:translateX(-50%);
}
[tooltip-position="bottom"]::after{
    border-bottom-color: cadetblue;
    top:calc(100% - 10px);
    left: 50%;
    transform: translateX(-50%);
}
[tooltip-position="left"]::before{
    top:50%;
    transform: translateX(calc(-100% - 9px)) translateY(-50%);
}
[tooltip-position="left"]::after{
    left:0px;
    top:50%;
    border-left-color: cadetblue;
    transform: translateY(-50%) translateX(-10px) ;
}
